body{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 880px;
    border: 8px solid black;
}

.grid-item {
    height: 55px;
    width: 55px;
}

button{
    height: 80px;
    width: 80px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: none;
}